html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
p {
	font-size: 135%;
}
.drop{
	box-shadow: 0px 0px 20px #000000;
}
.bg{
	background: white;
	-moz-border-radius: 35px;
	border-radius: 35px;
	padding: 20px;
}
.box{
	width: 70%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}